name: Build WiiLayoutEditor

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1

      - name: Restore NuGet packages
        run: nuget restore WiiLayoutEditor.sln

      - name: Build WiiLayoutEditor (Release)
        run: msbuild WiiLayoutEditor.sln /p:Configuration=Release /p:Platform="Any CPU"

      - name: Zip build output
        run: |
          powershell -Command "Compress-Archive -Path 'WiiLayoutEditor\bin\Release\*' -DestinationPath 'WiiLayoutEditor-Build.zip' -Force"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: WiiLayoutEditor-Build
          path: WiiLayoutEditor-Build.zip



